<div id="mid">
    <div id="mid-main">
    	<h1>DO YOU NEED OCCASIONAL CARE?</h1>
    	<h2>Kids Care Help: Babysitting Help from People you Trust</h2>
    	<h3>On Kids Care Help you create or join a Mothers Babysitting Group. Being part of a group of trusted mothers makes it easy to find a babysitter when you most need it.</h3>
        <div id="main-video">
            <div id="video-left">
                <h1>LEARN MORE ABOUT</h1>
                <h3>MOTHERS BABYSITTING GROUP</h3>
                <div class="arrow-video"><%= image_tag('arrow-video.png') %></div>
                    <div class="sign"><a href="sign-up.php">Sign Up Now</a></div>
                    <p class="sitting-box-t" style="color:#000;">90 Day Free Trial</p>
                                        </div>
        	<div id="video-right">
                <iframe class="video-v" src="//www.youtube.com/embed/8YeBVpkH7mg?enablejsapi=1&amp;feature=player_detailpage" frameborder="0" allowfullscreen=""></iframe>
            </div>
                <div class="sign1"><a href="sign-up.php">Sign Up Now</a></div>
        </div>
    </div>
</div>
<div class="icon"><%= image_tag('i-01.png', width:"66", height: "60" ) %>
<div class="container">
    <div id="sitting">
        <h1>WHY MOTHERS BABYSITTING GROUP?</h1>
        <div id="set-box">
            <div class="sitting-box">
                <p><%= image_tag('icon-build.png', width:"102", height: "102" ) %></p>
                <p class="sitting-box-t">Babysitting help from a community of mothers you know and trust</p>
            </div>
            <div class="sitting-box">
                <p><%= image_tag('icon-cordinate.png', width:"102", height: "102" ) %></p>
                <p class="sitting-box-t">Arrange a babysitter simply and easily online</p>
            </div>
            <div class="sitting-box">
                <p><%= image_tag('icon-commition.png', width:"102", height: "102" ) %></p>
                <p class="sitting-box-t">Save on babysitting costs. Pay a subscription fee of $6.50/month</p>
            </div>
            <div class="sitting-box">
                <p><%= image_tag('icon-power.png', width:"102", height: "102" ) %></p>
                <p class="sitting-box-t">Use your community to help and support each other on parenting topics/issues</p>
            </div>
        </div>
        <div style="clear:both;"></div>   
    </div>
</div>
<div class="icon-b"><%= image_tag('i-02.png') %></div>
<div id="sign">
    <h1>ONCE YOU SIGN UP, YOU CAN</h1>
    <div class="sign-in">
        <div class="sign-in-left"><%= image_tag("icon-create.png", alt: "") %></div>
        <div class="sign-in-right">Create your own Mothers Babysitting Group or join an existing Group</div>
        <div style="clear:both;"></div>
    </div>
    
    <div class="sign-in">
        <div class="sign-in-left"><%= image_tag("icon-book.png", alt: "") %></div>
        <div class="sign-in-right">Book &amp; manage babysitting help with your group members with a simple and easy to coordinate online system</div>
        <div style="clear:both;"></div>
    </div>
    
    <div class="sign-in">
        <div class="sign-in-left"><%= image_tag("icon-organise.png", alt: "") %></div>
        <div class="sign-in-right">Organise mothers catch ups, playdates and events with your group</div>
        <div style="clear:both;"></div>
    </div>
    
    <div class="sign-in">
        <div class="sign-in-left"><%= image_tag("icon-share.png", alt: "") %></div>
        <div class="sign-in-right">Share your experiences with the group with Photos and Posts</div>
        <div style="clear:both;"></div>
    </div>
    
    <div class="sign-in">
        <div class="sign-in-left"><%= image_tag("icon-member.png", alt: "") %></div>
        <div class="sign-in-right">See how each member is helping the group through a "Pay it Forward" Babysitting Board</div>
        <div style="clear:both;"></div>
    </div>
</div>
<div class="icon-b"><%= image_tag('i-03.png', alt:"") %></div>
<%= render 'layouts/form' %>