<div class=" container-fluid">
    <h6 class="value-t-green-title">OUR VALUES DEFINE HOW WE THINK AND BEHAVE</h6>
    <div class="col-md-4">
        <div class="media">
            <a class="media-left media-middle" href="#"><%= image_tag('v1.jpg', alt:"")%></a>
            <div class="media-body">
                <div class="value-text"> 
                    <span class="value-t-blue" style="color:#000; text-transform:none">We serve mothers/parents not customers </span> <br>
                    Understanding their needs drives everything we do
                </div>
            </div>
        </div>
        <div style="height:20px;"></div>
    </div>
    
    <div class="col-md-4">
        <div class="media">
            <a class="media-left media-middle" href="#"><%= image_tag('v2.jpg', alt:"")%></a>
            <div class="media-body">
                <div class="value-text"> 
                    <span class="value-t-orange" style="color:#000; text-transform:none">Building trust is central to every solution </span> <br>
                    Every solution should help mothers make trusted decisions about babysitters<br><br>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="media">
            <a class="media-left media-middle" href="#"><%= image_tag('v3.jpg', alt:"")%></a>
            <div class="media-body">
                <div class="value-text"> 
                    <span class="value-t-purple" style="color:#000; text-transform:none">We work together with a community spirit</span> <br>
                    Everyone shares in the values, goals and objectives based on what we aim to achieve
                </div>
            </div>
        </div>
        <div style="height:20px;"></div>
    </div>
</div>
<div style="height: 40px"></div>
<div class=" container-fluid">
        <div class="col-md-4">
            <div class="media">
                <a class="media-left media-middle" href="#"><%= image_tag('v4.jpg', alt:"")%></a>
                <div class="media-body">
                    <div class="value-text"> 
                        <span class="value-t-purple" style="color:#000; text-transform:none">Humility</span> <br>
                        is a quality we all need to have. It is non-negotiable
                    </div>
                </div>
            </div>
            <div style="height:20px;"></div>
        </div>
        
        <div class="col-md-4">
            <div class="media">
                <a class="media-left media-middle" href="#"><%= image_tag('v5.jpg', alt:"")%></a>
                <div class="media-body">
                    <div class="value-text"> 
                        <span class="value-t-green" style="color:#000; text-transform:none">Drive change</span> <br>
                        "Most importantly, be the change you want to see"
                    </div>
                </div>
            </div>
            <div style="height:20px;"></div>
        </div>
        
        <div class="col-md-4">
            <div class="media">
                <a class="media-left media-middle" href="#"><%= image_tag('v6.jpg', alt:"")%></a>
                <div class="media-body">
                    <div class="value-text"> 
                        <span class="value-t-red" style="color:#000; text-transform:none">Be ambitious, open, honest and communicate to build trust with others </span> <br>
                         Doing so helps you enjoy work
                    </div>
                </div>
            </div>
            <div style="height:20px;"></div>
        </div>

    </div>