<div id="hw_it_wrks">
    <h1>Register</h1>
     <div align="center">  <%= image_tag('register.png', alt:"regester")%> </div>
     <p>Simply enter your details, describe yourself and then choose or create the groups you’d like to join.</p>
     
      <h1>Join or create a group</h1>
     <div align="center">  <%= image_tag('group.png', alt:"group")%> </div>
     <p>Search, create or join public and private groups that meet your requirements. As a group administrator, you can determine joining criteria and objectives</p>
     
     <h1>Request Babysitting Help</h1>
     <div align="center">  <%= image_tag('baby_sitting.png', alt:"baby_sitting")%> </div>
     <p>Use the online system to request help from all mothers in the group. You can update the request to change the date or time that help is required.</p>
      <h1>Offer to help</h1>
     <div align="center">  <%= image_tag('help.png', alt:"help")%> </div>
     <p>Volunteer to help fellow group members with babysitting.</p>
      
      <h1>Choose a babysitter</h1>
     <div align="center">  <%= image_tag('choose_bs.png', alt:"choose_bs")%> </div>
     <p>If you have more than one mother in your group offering help, choose any one to babysit.</p>
     
          
      <h1>Events and sharing</h1>
     <div align="center">  <%= image_tag('event-sharing.png', alt:"event-sharing")%> </div>
     <p>Organise group events or playdates; share photos and posts with your group members.</p>	
     
     <h2>For a more detailed information on How it Works <a href="/moreworks">click here&gt;&gt;</a></h2>	      
</div>
<div class="clearfix"></div>